:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.table-danhmuc {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#iddm {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.th-danhmuc {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
}

.td-danhmuc {
  padding: 0 20px;
  text-align: center;
}

.th_binhluan {
  padding: 10px 20px;
  background-color: green;
  color: #fff;
}

.td_binhluan {
  padding: 10px 20px;
}

.boxcenter {
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  width: 100%;
}
.formds_loai {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.mb {
  margin-bottom: 30px;
}
.mb10 {
  margin-bottom: 10px;
}
/* CSS CHO PHẦN HEADER */
.header {
  background: #113a2bcc;
  border: 1px solid #000;
  padding: 10px 20px;
  font-size: 15px;
}
.menu {
  background: black;
  border: 1px solid #000;
  padding: 5px;
}
.menu ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
.menu ul li {
  list-style: none;
}

.dropdown {
  padding: 10px;
}

.dropdownbtn {
  color: white;
  text-decoration: none;
}
.menu li a:hover,
.dropdown:hover .dropbtn {
  background-color: #000;
  color: #fff;
  padding: 13px 0;
}
.dropdown_content {
  display: none;
  position: absolute;
  color: #000;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}
.dropdown_content a:hover {
  background-color: #98fb98;
}
.dropdown:hover .dropdown_content {
  display: block;
  margin-top: 15px;
}
/* css cho phần nội dung */
.catalog {
  display: flex;
  gap: 30px;
}

.boxleft {
  width: 75%;
}
.boxright {
  width: 25%;
}

.box_footer {
  background: #eeee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
  color: #333;
  height: 30px;
  align-items: center;
}
.banner {
  width: 100%;
  min-width: 300px;
  text-align: center;
  position: relative;
}
.banner img {
  width: 100%;
  height: 300px;
}
.pre,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease-in-out;
  border-radius: 0 3px 3px 0;
  border: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.pre {
  left: 0;
  border-radius: 0 3px 3px 0;
}
.items {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.box_items {
  border: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  height: 390px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.box_items img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}
.box_items a {
  text-decoration: none;
  color: black;
}

.name {
  margin-top: 15px;
}

.name a {
  margin: 15px 0;
  font-size: 14px;
  font-weight: 400;
}

.box_items .price {
  margin: 15px 0;
  color: red;
  font-weight: 400;
  font-size: 14px;
}
.box_items:hover .add {
  width: 100%;
  bottom: 0;
}
.box_items_img .add {
  transition: 0.5s ease-in-out;
  position: absolute;
  bottom: -100%;
  padding: 10px;
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  cursor: pointer;
}
.input-danhmuc {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul,
li {
  list-style: none;
}

.title {
  text-align: center;
  background: #ccc;
  padding: 10px 0;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 25px;
}

.form-label {
  font-size: 13px;
  margin-bottom: 5px;
}

.form-input input {
  width: 100%;
  padding: 10px 5px;
  border: 1px solid #969595;
  border-radius: 6px;
  font-size: 11px;
  outline: none;
}

.input-submit input {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.input-submit input:hover {
  background-color: #000;
  color: #fff;
}

.forgot_password {
  text-align: center;
  margin-top: 15px;
}

.forgot_password a {
  text-decoration: none;
  font-size: 14px;
}

/*  CSS CHO PHẦN DANH MỤC */
.product_portfolio ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.product_portfolio li {
  padding: 10px 20px;
  border: 1px #000 solid;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}
.product_portfolio ul li a {
  text-decoration: none;
  color: #000;
}
.product_portfolio ul li:hover {
  background-color: #ccc;
}
.box_search input {
  margin-top: 9px;
  padding: 10px 10px;
  background-color: #ffff;
  border-radius: 5px;
  border: 1px solid #000;
  width: 100%;
  outline: none;
}
.selling_products img {
  width: 20%;
  height: 50px;
  margin-right: 10px;
}
.selling_products a {
  color: #000;
  text-decoration: none;
}
.selling_products a:hover {
  color: #000;
  text-decoration: underline;
}
.banner2 img {
  width: 60%;
}

/* CSS CHO ADMIN */
.header_admin {
  background-color: #eee;
  border: 1px #ccc solid;
  color: #666;
  border-radius: 5px;
  padding: 10px 20px;
}
.header_admin h1 {
  font-size: 2vv;
}
.font_title {
  background-color: #eee;
  border: 1px #ccc solid;
  color: #666;
  border-radius: 5px;
  padding: 10px 20px;
}
.mr20 {
  margin-right: 10px;
}

.box_footer {
  margin-top: 300px;
}
/* footer section starts */
#footer {
  background-color: #000;
  color: #fff;
}
#footer,
.footer-left,
.footer-right {
  display: flex;
}

.footer-left,
.footer-right {
  margin-top: 3rem;
}

.footer-left {
  padding-left: 12%;
  align-items: center;
  width: 65%;
}
.footer-right {
  margin-top: 3.5rem;
  gap: 3rem;
  padding-right: 12%;
  width: 35%;
}

#footer h3 {
  font-family: BalooExtra;
  text-align: start;
  color: var(--yellow-color);
}

#footer p,
#footer a {
  font-family: Barlow;
  color: #ffff;
  text-align: start;
}
#footer a {
  text-decoration: none;
  display: block;
  line-height: 1.8rem;
}
.footer-left .footer-logo {
  width: 45%;
  margin-right: 2.3rem;
}

.footer-logo img {
  width: 100%;
  object-fit: cover;
}
#footer i {
  color: var(--yellow-color);
}

#footer .card_1 {
  width: 70%;
}

.card_1 {
  width: 70%;
  margin: 0;
}

.card_1 div {
  display: flex;
  align-items: center;
}

.card_1 div p,
.card_1 p {
  font-size: 0.9rem;
  margin-left: 0.3rem;
  line-height: 2rem;
  display: block;
  text-align: start;
}

.icons i {
  font-size: 1.5rem;
  margin-left: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 1.4rem;
  cursor: pointer;
}

#footer .images {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#footer .image {
  width: 8rem;
  height: 2.5rem;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.2rem;
}
.image_3 {
  height: 3rem !important;
  width: 10rem;
  margin-top: 0.5rem;
}
/* footer section ends */
.spct {
  text-align: center;
}
